.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header__logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 176px 52px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 42px;
    width: 142px;
    background-size: 142px 42px;
  }
}
