.header {
  background-image: url(../../images/header__logo.svg);
  background-repeat: no-repeat;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 1280px) {
  .header {
    background-size: 176px 52px;
    max-width: 1184px;
  }
}

@media screen and (max-width: 1024) {
  .header {
    background-size: 176px 52px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768) {
  .header {
    background-size: 176px 52px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320) {
  .header {
    background-size: 142px 42px;
    max-width: 288px;
  }
}
