.header {
  display: flex;
  background-image: url(../../images/header__logo.svg);
  background-repeat: no-repeat;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 28px;
    background-size: 176px 52px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin-top: 16px;
    background-size: 142px 42px;
    min-width: 288px;
    min-height: 42px;
  }
}


