.footer__copyright {
  display: flex;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  justify-content: end;
  vertical-align: bottom;
  align-items: flex-end;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 16px;
  }
}
