.footer__copyright {
  display: flex;
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}
