.lead__image {

}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .lead__image {
    max-width: 100%;
    margin-top: minmax(40px, 56px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__image {
    max-width: 100vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__image {
    min-width: 768px;
    max-width: 928px;
  }
}

@media screen and (min-widt: 1024px) and (max-width: 1280px) {
  .lead__image {
    min-width: 928px;
    max-width: 984px;
    margin-top: minmax(56px, 64px);
  }
}


