.cover__overlay {
  position: relative;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover__overlay::before {
  background-color: #2A2C2F;
  position: absolute;
  content: "";
  opacity: 0.3;
  z-index: 0;
  width: 100%;
  height: 720px;
}

.cover__overlay:hover::before {
  background-color: #2A2C2F;
  transition: 0.5s;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay::before  {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay::before  {
    height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay::before {
    height: 200px;
  }
}
